ref# https://pandas.pydata.org/pandas-docs/version/0.23/10min.html

https://www.kaggle.com/residentmario/creating-reading-and-writing



## Introduction to pandas -

Will use pandas to import the dataset or create a dataset however will need to check if the data will work with Scikit-learn package



To create a dataset : use pd.DataFrame() constructor to generate object : Series or dataFrame

DataFrame : 

The synthax dictionary is used where its keys are the column names and values are the list of entries. The list of row entries are known as the index. 

Series : 

This is a sequence of data values. if a dataframe is a table , series is a list. dataframes are essentially a bunch of series bunched together. the columns = series

In [8]:
#To create a dataset : 
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [9]:
# to create a series : 
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [2]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

In [3]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
The columns of the resulting DataFrame have different dtypes.

In [4]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Viewing Data¶##

In [ ]:
df.head()
df.tail(3)
df.index
df.values

# statistic summary of your data: 
df.describe()

#Transposing your data:
df.T

#Sorting by an axis:
df.sort_index(axis=1, ascending=False)

#Selecting via [], which slices the rows.
f[0:3]


#a cross section using a label:


# iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

df.loc[dates[0]]

#multi-axis by label:
df.loc[:,['A','B']]

#Select via the position of the passed integers:
df.iloc[3]

#Boolean Indexing
#Using a single column’s values to select data.

In [39]: df[df.A > 0]